<div id="miDiv" class="min-h-full rounded-3xl flex items-center justify-center bg-[#1f2c3e]">
    <div class=" w-[90vh] h-[30vh] text-center bg-[#1f2c3e] rounded-2xl pt-[7vh]">
        <h1 class="text-3xl text-[#c7893e] font-semibold mb-4">¡Bienvenido a La Casa del Libro!</h1>
        <p class="text-[#D9D9CC] text-lg mb-6">Descubre obras de los mejores autores de fantasía y cienca ficción.</p>
        <a href="" ng-click="redireccionar(aleatorio)" class="bg-[#c7893e] text-[#1f2c3e] py-2 px-6 rounded-full text-lg hover:bg-[#0a0b0e] hover:text-[#c7893e] transition duration-300 ease-in-out">Explora un libro aleatorio</a>
    </div>
</div>
