<div class="grid grid-cols-2">
  <div class="flex items-center mt-[3vh]">
    <img class=" rounded-xl mx-auto w-[90%] h-[75vh]" src="{{ libro.img }}" alt="imagenLibro">
  </div>
  <div class="text-[#D9D9CC] p-5 mt-[5vh]">
    <h1 class="text-[5vh] text-[#c7893e]">{{ libro.titulo }}</h1>
    <br>
    <p><span class="text-[#c7893e]">Autor:</span> {{ libro.autor }}</p>
    <p class="mb-[2vh]"><span class="text-[#c7893e]">Editorial:</span> {{ libro.editorial }}</p>
    <p>{{ libro.descripcion }}</p>
  </div>
</div>